<md-toolbar color="primary">

    <span>Blokus</span>
    <span class="toolbar-spacer"></span>
    <button md-button [mdMenuTriggerFor]="appMenu"><md-icon>menu</md-icon> Menu</button>

</md-toolbar>

<md-menu #appMenu="mdMenu">
  <button md-menu-item> Settings </button>
  <button md-menu-item> Help </button>
</md-menu>
<app-login (onLogin)="onLogin($event)"></app-login>


<!-- <div *ngIf="login"> -->

  <h2>Personal Board</h2>
  <app-board [boardSize]="personalSize" [player]="Ben"></app-board>

  <h2>Main Board</h2>
  <app-board [boardSize]="mainSize" [player]="All" ></app-board>

<!-- </div> -->
