<table>
  <tr *ngFor="let row of board">
    <td [ngClass]='concatClass(cell)' *ngFor="let cell of row.cells" (click)='getPieceID($event)'></td>
  </tr>
</table>
<div *ngIf="clickedPieceKey">
  <button md-raised-button (click)="moveLeft(clickedPieceKey)">Move Left</button>
  <button md-raised-button (click)="movePiece('this.moveRight: () => void')">Move Right</button>
  <button md-raised-button (click)="moveUp(clickedPieceKey)">Move Up</button>
  <button md-raised-button (click)="moveDown(clickedPieceKey)">Move Down</button>
</div>

<!--<button md-raised-button (click)="wipeDatabase()">Wipe Database</button>-->