/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/purple-green.css';

body {
    padding: 2em 10em;
    background:gray;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

td {

    background: lightgray;
    height: 1.5em;
    width: 1.5em;
}

.blue {
  background-color: blue;
}
.chat {
  float: right;
}
